$width = 600px

.root
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
  background: rgba(20, 25, 30, 1.0)
  color: white

.image
  width: 100%
  height: 240px
  object-fit: cover
  object-position: center
  display: block

  @media screen and (max-width: $width)
    height: 45vw

// TODO: how do we get this colour?
.header
  padding: 25px

.description
  font-size: .8em
  opacity: .8
  margin-bottom: 0

.activityName
  font-size: 20px
  font-weight: 400
  margin: 0
  line-height: 1

.typeStory .header,
.typeStory .itemHeader,
.typeQuest .header,
.typeQuest .itemHeader
  background: rgb(212, 110, 55) !important

.typeExplore .header,
.typeExplore .itemHeader
  background: rgba(80,124,65,1) !important

.typeRaid .header,
.typeRaid .itemHeader,
.typeArena .header,
.typeArena .itemHeader
  background: rgba(82,119,181,1) !important

.typePvp .header,
.typePvp .itemHeader
  background: rgba(159,52,47,1) !important

.typeMisc .header,
.typeMisc .itemHeader
  background: lighten(rgba(20, 25, 30, 1.0), 10%) !important

.typeStrike .header,
.typeStrike .itemHeader,
.typeNightfall .header,
.typeNightfall .itemHeader
  background: rgba(85,124,190,1) !important
