$width = 600px

.root
  width: 100%
  max-width: $width
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
  background: rgba(20, 25, 30, 1.0)
  color: white
  margin-bottom: 25px

.image
  width: 100%
  height: 240px
  object-fit: cover
  object-position: center
  display: block

  @media screen and (max-width: 500px)
    height: 45vw

// TODO: how do we get this colour?
.header
  padding: 25px

.activityName
  font-size: 20px
  font-weight: 400
  margin: 0
  line-height: 1

.drops
  padding: 25px

.typeStory .header,
.typeStory .itemHeader,
.typeQuest .header,
.typeQuest .itemHeader
  background: rgb(212, 110, 55) !important

.typeExplore .header,
.typeExplore .itemHeader
  background: rgba(80,124,65,1) !important

.typeRaid .header,
.typeRaid .itemHeader,
.typeArena .header,
.typeArena .itemHeader
  background: rgba(82,119,181,1) !important

.typePvp .header,
.typePvp .itemHeader
  background: rgba(159,52,47,1) !important

.typeStrike .header,
.typeStrike .itemHeader,
.typeNightfall .header,
.typeNightfall .itemHeader
  background: rgba(85,124,190,1) !important


.section
  padding: 20px 25px 0 25px

  &:last-of-type
    padding-bottom: 20px

.sectionName
  font-size: 18px
  margin-bottom: 5px
