.tick
  position: relative
  top: -1px
  display: inline-block
  line-height: 1
  text-align: center
  border-radius: 50%
  font-size: 10px
  padding: 3px
  width: 15px
  height: 15px
  color: white

.greenTick
  composes: tick
  background: #44bd32;

.blueTick
  composes: tick
  background: #3c94ff

.orangeTick
  composes: tick
  background: #e67e22

.greyTick
  composes: tick
  background: #7f8fa6
