$width = 500px

.root
  background: #D2D2D2
  box-shadow: 0 2px 10px 0 rgba(black, 1)
  width: $width
  max-width: 100%
  overflow: auto
  border-radius: 4px
  position: relative
  color: #090B0F

.header
  background: #D2D2D2
  display: flex
  align-items: center

.heading
  content: 'heading'
  font-size: 24px

.xurImage
  display: inline-block
  width: 200px

.body
  padding: 15px

.close
  background: none
  padding: 15px
  outline: none !important
  cursor: pointer
  appearance: none
  border: none
  position: absolute
  top: 0
  right: 0
  font-size: 1em
  color: #090B0F
  line-height: 1
  transition: 150ms ease-in-out opacity
  opacity: .5

  &:hover
    opacity: 1


.items
  display: flex
  flex-wrap: wrap
  margin: -5px

.item
  // display: inline-flex
  flex: 1 1 50%
  margin: 0
  padding: 10px
