.inner
  background: #15191E
  padding: 10px

.itemList
  display: flex
  flex-wrap: wrap
  margin: 0 -5px
  margin-bottom: -10px

.item
  margin: 0 5px
  margin-bottom: 10px

.title
  margin-top: 0

.sectionName
  margin-top: 10px
  margin-bottom: 2px
