.root
  background: #15191E
  padding: 10px
  margin-bottom: 10px

.itemList
  display: flex
  margin: 0 -5px

.item
  margin: 0 5px

.title
  margin-top: 0


.sectionName
  margin-top: 10px
  margin-bottom: 2px
