$green = #44bd32;

.root
  display: flex
  border: 1px solid rgba(white, .1)
  background: rgba(white, .02)
  padding: 15px
  position: relative
  // align-items: center

.completed
  border-color: rgba($green, .5)
  background: rgba($green, .1)
  color: lighten($green, 80%)
  opacity: .4

.accessory
  margin-right: 15px

.icon
  width: 50px
  height: 50px
  object-fit: contain
  display: block

.main
  flex: 1

.name
  font-size: 16px
  display: flex

.nameName
  flex: 1

.points
  font-size: 14px

.objectives
  font-size: 13px
  margin-top: 15px

.description
  line-height: 1.2


.tick
  position: absolute
  top: -5px
  right: -5px
  background: $green
  width: 20px
  height: 20px
  font-size: 14px
  line-height: 1
  border-radius: 50px
  display: flex
  align-items: center
  justify-content: center

