.root
  display: flex
  border: 1px solid rgba(white, .1)
  background: rgba(white, .02)
  padding: 15px
  align-items: center

.completed
  border-color: rgba(#27ae60, .5)
  background: rgba(#27ae60, .1)
  color: lighten(#27ae60, 80%)

.accessory
  margin-right: 15px

.icon
  width: 60px
  height: 60px
  object-fit: contain
  display: block

.main
  flex: 1

.name
  font-size: 16px

.objectives
  font-size: 13px
  margin-top: 15px
