.objective
  position: relative
  z-index: 1
  background: rgba(white, .04)
  border: 1px solid rgba(white, .2)
  padding: 5px 8px

  .trackedStat &
    margin-bottom: 0

  & + &
    margin-top: 5px

.objectiveTrack
  position: absolute
  top: 0
  bottom: 0
  left: 0
  height: 100%
  width: 0
  z-index: 1
  background: rgba(white, .15)
  transition: width 250ms ease-in-out

  .trackedStat &
    display: none

.objectiveText
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  line-height: 1.2
  z-index: 2

  & > :first-child
    padding-right: 30px

  & > :last-child
    font-weight: 600

.completed
  opacity: .8
  font-size: .9em
  font-style: italic
  margin-bottom: $padding
  line-height: 1
  margin-top: 10px
