height = 85vh

.root
  padding: 10px
  height: 99vh
  display: flex
  flex-direction: column

.top
  flex: 0 0 auto

.main
  display: flex
  flex: 1 1 auto

.searchBox
  display: flex
  align-items: center
  background: rgba(white, .05)
  font-size: 20px
  padding: 15px
  margin-bottom: 10px
  color: rgba(white, .8)

.filter
  flex: 1 0 auto
  background: none
  transition: all 150ms ease-in-out
  font-size: inherit
  color: white
  border: none
  outline: none !important
  margin-left: 15px

.item
  width: 240px
  display: inline-block
  margin: 5px
  transition: all 150ms ease-in-out
  cursor: pointer

.selected
  background: rgba(white, .05)

.itemList
  flex: 1 1 75%
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  overflow: auto
  background: rgba(white, .05)
  padding: 10px

.selectionPanel
  flex: 1 0 25%
  display: flex
  background: rgba(white, .07)
  margin-left: 10px
  flex-direction: column

.selectionItems
  padding: 5px
  overflow: scroll
  flex: 1 1 auto

.selectionFilter
  flex: 0 0 auto

.heading
  margin-top: 0
  margin-bottom: 10px

.copytextarea
  opacity 0
  height: 0
  width: 0
  padding: 0
  margin: 0
  outline: none !important

.copyButton
  width: 100%
  padding: 15px
  font-size: 16px
  background: #2ecc71
  border: none
  color: white
  transition: all 50ms ease-in-out
  outline: none !important
  cursor: pointer

  &:hover
    background: darken(#2ecc71, 5%)

  &:active
    background: #27ae60
