.root
  content: 'root'
  margin: 30px 0

.para
  opacity: .8
  text-align: center
  max-width: 500px
  margin-left: auto
  margin-right: auto

.accounts
  display: block

  @media screen and (min-width: 680px)
    display: flex

.account
  flex: 1
  padding: 0 10px
  margin-bottom: 20px

  @media screen and (min-width: 680px)
    margin-bottom: 0

.displayName
  font-size: 1.25em

.platform
  font-size: 1.125em
  opacity: .8

.accountInner
  margin: auto
  max-width: 350px

.selectButton
  color: black !important
  background: rgba(208, 170, 11, 1.0)
  padding: 10px 20px
  text-decoration: none
  transition: 150ms ease-in-out
  display: inline-block
  border: none
  font-size: 1em
  cursor: pointer
  outline: none !important

  &:hover
    background: #ffce1f

  &:active
    background: lighten(#ffce1f, 50%) !important

.accountSummary
  display: flex
  align-items: center
  margin-bottom: 10px

.accountDetails
  flex: 1 1 auto

.accountAction
  flex: 0 1 auto

.char
  position: relative
  background-repeat: no-repeat
  background-size: cover
  padding-bottom: (16/79) * 100%

.charWrapper
  display: none

  @media screen and (min-width: 680px)
    display: block

.charInner
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  align-items: center

.emblem
  height: 100%
  width: auto

.desc
  padding-left: 15px

.classType
  font-size: 18px

.race
  font-size: 14px
  opacity: .8


.activeAccount
  padding: 15px
  font-size: 14px

  @media screen and (min-width: 680px)
    max-width: 350px
    margin-left: auto
