.root + .root
  margin-top: 30px

.children
  display: grid
  grid-column-gap: 15px
  grid-row-gap: 15px

.childPresentationNodes
  grid-template-columns: repeat(4, 1fr)
  composes: children

.childRecords
  composes: children
  grid-template-columns: repeat(3, 1fr)

.node
.record
  color: inherit
  text-decoration: none

.top
  margin-bottom: 30px

  h2
    margin: 0

.nestedTop
  composes: top
  font-size: .8em
  margin-bottom: 8px

  .icon
    height: 30px

.topLink
  color: inherit
  text-decoration: none
  display: flex
  align-items: center
  position: relative

.iconWrapper
  margin-right: 15px

.icon
  display: block
  height: 50px

.iconCorners
  content: ''

  &:before
  &:after
    content: ''
    position: absolute
    display: block
    width: 8px
    height: 8px
    border: 1px solid rgba(white, .5)

.iconCornersTop
  composes: iconCorners

  &:before
    top: 0
    left: 0
    border-style: solid none none solid

  &:after
    top: 0
    right: 0
    border-style: solid solid none none

.iconCornersBottom
  composes: iconCorners

  &:before
    bottom: 0
    left: 0
    border-style: none none solid solid

  &:after
    bottom: 0
    right: 0
    border-style: none solid solid none

