.children
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-column-gap: 10px
  grid-row-gap: 10px

.node
  grid-column: span 3

.record
  min-width: 400px

.node
.record
  color: inherit
  text-decoration: none
