.root
  margin-bottom: 10px

.title
  margin-top: 0
  margin-bottom: 0

.list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin: 0 -10px

.set
  max-width: 50%
  flex: 1 0 25%
  padding: 10px
