.root
  margin-bottom: 10px

.title
  margin-top: 0
  margin-bottom: 0

.list
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.set
  margin-bottom: 10px
  max-width: 50%
  flex: 1 0 25%
