// loginUpsell
// heading
// authLink

// TODO: refactor this to remove duplication from Drops styles
.panel
  background: #2c3e50
  text-align: center
  width: 100%
  max-width: 500px
  margin: auto
  margin-top: 25px
  padding: 25px
  position: relative

.panel
  @media screen and (max-width: 500px)
    width: auto
    margin-left: 10px
    margin-right: 10px

.heading
  font-weight: 400
  font-size: 22px
  margin-bottom: 10px
  margin-top: 0

.loginUpsell
  composes: panel
  font-size: 18px

.text
  margin-top:0
  font-size: 16px

.button
  cursor: pointer
  color: white !important
  border: none;
  appearance: none
  font-size: inherit
  font-family: inherit
  background: #4285f4
  padding: 10px 20px
  text-decoration: none
  transition: 150ms ease-in-out
  display: inline-block

  &:hover
    background: lighten(#4285f4, 10%)

.closeButton
  position: absolute
  top: 5px
  right: 5px
  font-size: 18px
  background: none
  color: white
  border: none
  appearance: none
  transition: 150ms ease-in-out
  opacity: .75
  cursor: pointer
  outline: none

  &:hover
    opacity: 1
