.root
  display: flex
  // padding: 15px 0 0 0

._power
  font-size: 30px
  line-height: 1
  display: flex
  align-items: center
  color: #C690DC
  font-weight: 600

.elementalDamageIcon
  width: .95em
  height: .95em
  margin-right: .5ch

.ammoIcon
  height: 22px
  vertical-align: top
  display: inline-block
  margin-right: 5px

.kineticDamage
  composes: _power
  color: white

.voidDamage
  composes: _power
  color: #b082cb

  .elementalDamageIcon
    background: #b082cb
    mask: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png") center center / cover;

.arcDamage
  composes: _power
  color: #79ebf3

  .elementalDamageIcon
    background: #79ebf3
    mask: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_092d066688b879c807c3b460afdd61e6.png") center center / cover;

.solarDamage
  composes: _power
  color: #f36f26

  .elementalDamageIcon
    background: #f36f26
    mask: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png") center center / cover;

.stasisDamage
  composes: _power
  color: #4e87ff

  .elementalDamageIcon
    background: #4e87ff
    mask: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_530c4c3e7981dc2aefd24fd3293482bf.png") center center / cover;    

.ammoType
  display: flex
  align-items: center
  border-left: 1px solid #706A73
  padding-left: 10px
  margin-left: 10px
  text-transform: uppercase
