.root
  content: 'root'

.overlay
  position fixed
  bottom: 0
  left: 0
  right: 0
  background: #090B0F
  z-index: 99999999999999


.error
  composes: overlay
  padding: 20px
  font-size: 20px
  text-align: center
  background: #e74c3c
  color: #ecf0f1
