.root
  content: 'root'

.bottomMessages
  position fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 99999999999999

.auth
  background: #090B0F

.error
  position: relative
  padding: 20px
  text-align: center
  background: #e74c3c
  color: #ecf0f1

.errorTitle
  margin: 0 0 10px 0
  font-size: 26px

.errorText
  font-size: 18px
  margin: 0

.manifestUpdate
  padding: 10px
  text-align: center
  background: #BDC3C7
  color: #090B0E
  box-shadow: 0 0 20px -5px rgba(black, 0.75)

.icon
  margin-right: .25ch
