_googleBlue = #5689E6

.root
  position: relative

.button
  font-size: .9em
  background: _googleBlue
  padding: 12px 12px
  border-radius: 3px
  transition: background 150ms ease-in-out
  cursor: pointer
  border: none
  appearance: none
  color: inherit
  line-height: 1
  outline: none !important

  &:hover
    background: darken(_googleBlue, 10%)

  &:active
    background: darken(_googleBlue, 15%)

  &.subtle
    background: #17191E
    border: 1px solid #292f38

.tooltip
  position: absolute
  top: calc(100% + 10px)
  left: 0
  background: _googleBlue
  padding: 10px
  padding-right: 18px
  line-height: 1.3
  width: 300px

  &:after
    position: absolute
    bottom:100%
    left: 10px
    content: ''
    border: 5px solid transparent
    border-bottom-color: _googleBlue

.closeButton
  position: absolute
  top: 6px
  right: 6px
  font-size: 14px
  cursor: pointer
