.root
  position: relative
  background: #e84118
  padding: 20px 15px 30px 15px
  color: white
  text-align: center
  margin-bottom: 30px

  &, *
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif


.inner
  width: 100%
  max-width: 800px
  margin: auto

.title
  font-size: 24px
  font-weight: 500
  margin-bottom: .5em

.para
  line-height: 1.4

  a
    color: #e8a918

.button
  background: #e8a918
  padding: 8px 15px
  border: none
  border-radius: 3px
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  font-size: 14px
  color: black
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer

  &:hover
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


.close
  background: none
  padding: 2px
  outline: none !important
  cursor: pointer
  appearance: none
  border: none
  font-size: 1em
  color: white
  line-height: 1
  position: absolute
  top: 15px
  right: 15px
