.root
  content: 'root'

.perk
  display: flex
  align-items: center

.perkImage
  height: 35px
  width: 35px
  object-fit: contain
  display: block

.main
  flex: 1
  padding-left: 15px

.name
  line-height: 1

.description
  margin: 0
  opacity: .7
  font-size: 14px
