.root
  content: 'root'

.perk
  display: flex
  align-items: center

.perkImage
  height: 35px
  width: 35px
  object-fit: contain
  display: block
  margin-left: 10px

.main
  flex: 1
  margin-left: 15px

.name
  line-height: 1
  margin-bottom: 4px

.description
  margin: 0
  opacity: .7
  font-size: 14px
  line-height: 1.2
