mobile()
  @media screen and (max-width: 679px)
    {block}

.root
  display: flex
  flex-direction: column
  align-items: flex-end

  +mobile()
    margin-top: 15px

.filterFlex
  display: flex
  margin-right: -10px

  +mobile()
    width: calc(100% + 10px)
    flex-wrap: wrap
    justify-content: space-between

.filteredOut
  padding: 5px 10px
  color: #808080

  +mobile()
    order: 2

.spacer
  padding: 5px 10px
  opacity: 0
  color: black
  user-select: none

  +mobile()
    order: 2

.toggleFilters
  // margin-left: -10px
  color: rgba(white, .9)
  cursor: pointer
  padding: 5px 10px
  transition: all 150ms ease-in-out

  +mobile()
    flex: 1 0 100%
    order: 3
    margin-left: -10px

  &:hover
    background: rgba(white, .07)

.filtersActive
  background: rgba(white, .07)

.filters
  flex: 1 0 100%
  display: flex
  flex-direction: row-reverse
  margin-right: -10px

  +mobile()
    margin-left: -10px

.filterInner
  background: rgba(white, .07)
  padding: 10px 15px

  +mobile()
    padding-top: 0

.neg
  margin: 0 -10px

.filterOpt
  margin: 0 10px
  white-space: nowrap
  display: inline-block

  +mobile()
    width: 33%
    margin: 0
    padding: 5px 10px
    margin-bottom: 5px

    &:active
      background: rgba(white, .07)

.itemCountWrapper
  display: flex
  align-items: center

  +mobile()
    margin-left: -5px
    order: 1

.itemCount
  color: rgba(white, .9)
  padding: 2px 5px
  cursor: pointer
