.itemTop
  display: flex
  padding: 10px 15px
  align-items: center
  background-size: cover
  background-position: center left
  background-repeat: no-repeat

.icon
  width: 3em
  height: 3em
  display: flex
  margin-right: 15px

.itemInfo
  flex: 1

.name
  font-size: 1em

.itemType
  color: rgba(white, .75)
  font-size: .8em
  display: flex
  justify-content: space-between

.exotic
  background: #ceae33

.legendary
  background: #522f65

.rare
  background: #5076a3

.common
  background: #366f3c

.basic
  background: #c3bcb4
  color: #1e242b
