.root
  padding: 0

.itemTitle
  font-size: 1.2em
  margin: .1em 0

.itemDescription
  opacity: .85
  max-width: 700px


// JSON values
.jsonLinkedValue
  text-decoration: underline
  cursor: pointer

.jsonImage
  max-height: 50px
  display: inline-block
  margin-right: 1ch
