.root
  padding: 0

.itemTitle
  font-size: 1.2em
  margin: .1em 0

.itemDescription
  opacity: .85
  max-width: 700px

.hash
  font-size: 13px
  border-radius: 3px
  font-family: monospace
  font-weight: 400
  margin-left: 1em
  padding: 3px 5px
  background: lighten(#0D2B35, 5%)
  border: 1px solid lighten(#0D2B35, 15%)

// JSON values
.jsonLinkedValue
  text-decoration: underline
  cursor: pointer

.jsonImage
  max-height: 50px
  display: inline-block
  margin-right: 1ch
