.item
  display: block

  > *
    vertical-align: middle

.itemImage
  width: 25px
  height: 25px
  display: inline-block
  margin-right: .5em

.item
  display: flex
  padding-left: 15px

.itemName
  flex: 1 0 auto

.removeItem
  padding: 0 10px
  cursor: pointer
  opacity: 0
  transition: all 150ms ease-in-out
  display: flex
  align-items: center
  justify-content: center

  .item:hover &
    opacity: .5

  &:hover
    opacity: 1 !important

.cross
  display: block
  width: 15px
  height: 15px

.sectionTitle
  margin-bottom: 5px
  margin-top: 20px

.para
  text-align: center
  margin-top: 30px
  font-style: italic

.addAllButton
  color: inherit
  width: 100%
  background: #16171A
  border: 1px solid lighten(#16171A, 15%)
  font-size: 14px
  padding: 5px

