.beta
  text-align: center
  max-width: 500px
  opacity: .8
  margin: 20px auto 15px auto

.itemList
  content: 'itemList'
  // display: flex
  // flex-wrap: wrap
  // justify-content: space-around

.item
  width: 270px
  display: inline-block
  margin: 5px

.linkedValue
  text-decoration: underline
  cursor: pointer

.jsonImage
  max-height: 50px
  display: inline-block
  margin-right: 1ch

.searchBox
  display: flex
  align-items: center
  background: rgba(white, .05)
  font-size: 20px
  padding: 15px
  margin-bottom: 10px
  color: rgba(white, .8)

.searchField
  flex: 1 0 auto
  background: none
  transition: all 150ms ease-in-out
  font-size: inherit
  color: white
  border: none
  outline: none !important
  margin-left: 15px

.json
  padding: 10px
  margin-top: 20px
  background: #002B36

.activeItem
  font-size: 1.2em
  margin: .1em 0

.activeItemDesc
  opacity: .85
  max-width: 700px
