.root
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

.header
  width: 100% // TODO: is this needed?

.view
  display: flex

.sidebar
  flex: 0 0 300px
  padding: 10px
  overflow: scroll

.main
  flex: 1
  overflow: scroll
  padding: 10px

.beta
  text-align: center
  opacity: .8
  margin: 20px auto 15px auto

.itemList
  content: 'itemList'

.item
  width: 270px
  display: inline-flex
  margin: 5px

.searchBox
  display: flex
  align-items: center
  background: rgba(white, .05)
  font-size: 20px
  padding: 15px
  margin-bottom: 10px
  color: rgba(white, .8)

.searchField
  flex: 1 0 auto
  background: none
  transition: all 150ms ease-in-out
  font-size: inherit
  color: white
  border: none
  outline: none !important
  margin-left: 15px

.dataViews
  position: fixed
  top: 52px
  right: 0
  bottom: 0
  left: 0

.dataSlide
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(black, .3)
  animation: bgFadeIn
  animation-duration: 150ms
  animation-fill-mode: both

.dataSlideInner
  height: 100%
  width: 100%
  padding: 10px
  background: #002B36
  animation: slideIn
  animation-duration: 350ms
  animation-fill-mode: both
  box-shadow: 0 0px 20px rgba(black, .3);

.dataView
  height: 100%
  overflow: auto

@keyframes slideIn
  from
    transform: translateX(100%);

  to
    transform: translateX(0);

@keyframes bgFadeIn
  from
    background: rgba(black, 0)

  to
    background: rgba(black, .3)

