.root
  display: flex
  padding: 5px 10px
  align-items: center
  background-size: cover
  background-position: center left
  background-repeat: no-repeat

.icon
  width: 3em
  height: 3em
  display: flex
  margin-right: 15px

.body
  flex: 1

.main
  font-size: 1em
  text-transform: uppercase

.main
.sub
  display: flex
  justify-content: space-between

.itemName
  font-size: 1.3em
  font-weight: 600
  text-transform: uppercase

.sub
  color: rgba(white, .75)

.close
  background: none
  padding: 2px
  outline: none !important
  cursor: pointer
  appearance: none
  border: none
  font-size: 1em
  color: white
  line-height: 1

.exotic
  background: #ceae33

.legendary
  background: #522f65

.rare
  background: #5076a3

.common
  background: #366f3c

.basic
  background: #c3bcb4
  color: #1e242b
