.root
  content: 'hello'
  position: relative

.obtained
  opacity: .25

.image
  display: block
  width: 44px
  height: auto
  background: rgba(#D2D2D2, 0.1)

.placeholder
  composes: image
  background: rgba(#D2D2D2, 0.1)

.obtainedTick
  position: absolute
  top: -5px
  right: @top
  line-height: 1
  text-align: left
  background: #44bd32
  border-radius: 50%
  font-size: 12px
  padding: 3px
