.cta
  color: black !important
  background: rgba(208, 170, 11, 1.0)
  padding: 10px 20px
  text-decoration: none
  transition: 150ms ease-in-out
  display: inline-block
  text-align: center

  &:hover
    background: #ffce1f