.root
  content: 'root'
  display: flex

.filterItem
  margin-right: 20px
  background: rgba(white, .05)
  color: lighten(#090B0E, 80%)
  border: 1px solid rgba(white, .15)
  padding: 2px 10px

.filterEnabled
  composes: filterItem
  background: rgba(white, .15)
  // color: #27ae60
  // color: inherit

.filterDisabled
  composes: filterItem

  // color: #c0392b
