// .filterRoot
//   display: inline-block
//   width: 100%
//   margin-bottom: 15px

//   &:last-of-type
//     margin-bottom: 0

.root
  display: flex
  color: rgba(231, 232, 232, 1.0)
  transition: all 150ms ease-in-out
  margin-bottom: 15px

  &.obtained
    opacity: .35

  &.small
    display: inline-block

.accessory
  flex: 0 1 auto
  position: relative
  color: white

  &:after
    position: absolute
    top: -4.5px
    right: -4.5px
    width: 18px
    height: 18px
    display: none
    font-family: 'sans-serif'
    font-size: 10px
    border-radius: 18px
    align-items: center
    justify-content: center
    color: white
    letter-spacing: -2px

  .obtained &:after
    content: '✓'
    display: flex
    background: #27ae60
    color: white

  .forSale &:after
    content: '$'
    display: flex
    background: #e67e22
    color: white

.image
  width: 50px
  height: 50px
  display: block

.main
  flex: 1 1 auto
  margin-left: 10px

.name
  font-size: 16px

.type
  font-size: 14px
  opacity: .8

.link
  text-decoration: none
  color: inherit !important

.small
  margin: 0 5px 10px 5px

  &:last-of-type
    padding-right: 0

  .main
    display: none

  .image
    height: 55px
    width: 55px

.tiny
  margin-right: 10px
  margin-bottom: 10px

  .image
    width: 40px
    height: 40px

  .accessory:after
    width: 15px
    height: 15px
    font-size: 9px
    letter-spacing: -1px
