.root
  position: relative
  display: flex
  transition: all 150ms ease-in-out
  margin-bottom: 15px

  &.small
    display: inline-block

  &.obtained
  &.globallyObtained
    opacity: .35

.countOverlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  color: white
  display: flex
  align-items: center
  justify-content: center
  font-size: 16px
  z-index: 1
  pointer-events: none

.accessory
  flex: 0 1 auto
  position: relative
  color: white

  &:after
    position: absolute
    top: -4.5px
    right: -4.5px
    width: 18px
    height: 18px
    display: none
    font-family: 'sans-serif'
    font-size: 10px
    border-radius: 18px
    align-items: center
    justify-content: center
    color: white
    letter-spacing: -2px

  .globallyObtained &:after
  .obtained &:after
    content: '✓'
    display: flex
    background: #27ae60
    color: white

  .globallyObtained &:after
    background: #3498db

  .forSale &:after
    content: '$'
    display: flex
    background: #e67e22
    color: white

  .dismantled &:after
    content: '✓'
    display: flex
    background: #bdc3c7
    color: white


.image
  width: 50px
  height: 50px
  display: block
  margin-right: 5px
  object-fit: cover
  object-position: center

.main
  flex: 1 1 auto
  // margin-left: 10px

.name
  font-size: 16px

.type
  font-size: 14px
  opacity: .8

.link
  text-decoration: none
  color: inherit !important

.small
  .main
    display: none

  .image
    height: 56px
    width: 56px
    margin-right: 0

.tiny
  .image
    width: 40px
    height: 40px

  .accessory:after
    width: 15px
    height: 15px
    font-size: 9px
    letter-spacing: -1px
    margin-right: 0
