.root
  background: #D2D2D2
  color: black
  margin: 40px auto
  display: flex

  p a
    color: black
    text-decoration: underline

.heading
  margin: 15px 0

.xurImage
  height: 200px
  display: block

  // mobile styling
  @media screen and (max-width: 768px)
    display: none

.items
  display: flex
  flex-wrap: wrap
  margin: -10px

.item
  margin: 10px

.main
  margin-left: 15px

  // mobile styling
  @media screen and (max-width: 768px)
    margin: 0 15px
