$padding = 10px

mobile()
  @media screen and (max-width: 679px)
    {block}


.tooltip
  width: 320px
  font-size: 15px
  background: #20262d
  position: relative

  &.small
    padding-bottom: .1px
    margin-bottom: 15px
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3)

.body
  padding: 0 $padding

  .small &
    font-size: 14px

.header
  display: flex
  align-items: center

  .small &
    margin-bottom: 10px

.img img
  display: block
  width: 70px
  height: 70px

  .small &
    width: 40px
    height: 40px

.headerContent
  margin: 0 $padding
  flex: 1

  .small &
    padding: 4px 0
    padding-top: 2px

.title
  font-size: 15px

.subtitle
  opacity: .8
  display: flex
  justify-content: space-between
  font-size: 13px
  line-height: 1

.description
  margin: $padding 0

  .small &
    display: none

.screenshotWrapper
  position: relative
  width: 100%
  padding-bottom: ((9/16) * 100%)
  margin-bottom: $padding

.screenshot
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  display: block


.closeButton
  display: none

  .small &
    display: block
    line-height: 1
    padding: 10px
    padding-top: 1px
    background: none
    outline: none !important
    cursor: pointer
    appearance: none
    border: none
    position: absolute
    top: 0
    right: 0
    font-size: 20px
    color: white

.exotic .header
  background: #ceae33

.legendary .header
  background: #522f65

.rare .header
  background: #5076a3

.common .header
  background: #366f3c

.basic .header
  background: #c3bcb4
  color: #1e242b

:global(.ToolTipPortal)
  pointer-events: none

// :global .ToolTipPortal > *
//   display: block !important
//   visibility: visible !important
//   opacity: 1 !important
