$padding = 10px

mobile()
  @media screen and (max-width: 679px)
    {block}


.tooltip
  width: 320px
  font-size: 15px
  background: #20262d
  position: relative
  color: white

  &.small
    padding-bottom: .1px
    margin-bottom: 15px
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3)

.body
  padding: 0 $padding

  .small &
    font-size: 14px

.header
  font-size: 15px

  .small &
    margin-bottom: 10px
    padding: 0 10px 0 0

.description
  margin: $padding 0

  .small &
    display: none

.screenshotWrapper
  position: relative
  width: 100%
  padding-bottom: ((9/16) * 100%)
  margin-bottom: $padding

.screenshot
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  display: block


.closeButton
  display: none

  .small &
    display: block
    line-height: 1
    padding: 10px
    padding-top: 1px
    background: none
    outline: none !important
    cursor: pointer
    appearance: none
    border: none
    position: absolute
    top: 0
    right: 0
    font-size: 20px
    color: white

.extraInfo
  opacity: .8
  font-size: .9em
  font-style: italic
  margin-bottom: $padding

.statTrack
  opacity: .8
  font-size: .9em
  font-style: italic
  margin: $padding 0

:global(.ToolTipPortal)
  pointer-events: none

// :global .ToolTipPortal > *
//   display: block !important
//   visibility: visible !important
//   opacity: 1 !important
