.root
  padding: 10px
  border-left: 1px solid rgba(white, .2)
  margin-bottom: 10px


.title
  font-size: 1.1em
  font-weight: 600
  margin: 0 0 5px 0

.children
  font-size: .98em

  p
    margin: 5px 0

.itemList
  display: flex
  flex-wrap: wrap

