$baseBg = darken(#1a1f28, 15%);
$step = 20%;

.nodes
  content: 'lol'

.panes
  display: flex
  overflow: auto

  background: $baseBg

.pane
  min-width: 350px
  padding: 0 20px

  & + &
    border-left: 1px solid rgba(white, .15)

  &:nth-last-child(2)
    background: darken($baseBg, $step * 1)

  &:nth-last-child(3)
    background: darken($baseBg, $step * 2)

  &:nth-last-child(4)
    background: darken($baseBg, $step * 3)

.scoreBox
  margin: 10px auto
  text-align: center
  text-transform: uppercase
  margin-bottom: 30px

.scoreTitle
  font-size: 15px
  opacity: .5

.scoreScore
  font-size: 45px
  font-weight: bold
  line-height: 1
