.root
  max-width: 25%
  min-width: 250px
  flex: 1 0 25%
  padding: 10px
  padding-bottom: 20px

  @media screen and (max-width: 910px)
    width: 100%
    max-width: initial
    min-width: 100%

.screenshot
  display: block
  width: 100%
  height: auto

