$activeBg = rgba(white, .07)

.root
  display: flex
  flex-wrap: wrap
  align-items: center
  margin: 0 10px
  padding: 9px 0
  cursor: pointer

.cachedRoot
  composes: root
  opacity: .5

.main
  font-size: .95em
  flex: 1

.small
  font-size: .8em
  margin-top: 6px

.fakeButton
  margin-left 10px

.dropdown
  background: #13161B
  box-shadow: 0 3px 3px rgba(black, 0.5);
  font-size: 14px
  min-width: 120px

.dropdownWide
  composes: dropdown
  min-width: 170px

.dropdownItem
  padding: 8px 15px
  cursor: pointer
  white-space: nowrap
  display: block

  &:hover
    background: $activeBg
