.sidebar {
  position: fixed !important;
  z-index: 11 !important;
}

.root {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background: #13161B;
  padding: 0 20px 15px 15px;
}
