$baseColour = rgba(11, 13, 16, 1.0)
$bgColour = lighten($baseColour, 4%)
$filterColour = lighten($baseColour, 10%)
$activeBg = rgba(white, .1)
$edgePadding = 15px

.header
  background: $bgColour
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 $edgePadding
  z-index: 1
  position: relative
  background-position: center
  background-size: cover

.main
  display: flex

.version
  font-size: .65em
  opacity: .8
  vertical-align: top

.navItem
  padding: 17px 15px 13px 15px
  line-height: 22px
  transition: all 150ms ease-in-out
  color: inherit
  text-decoration: none
  display: flex
  align-items: center

  &:hover
    background: $activeBg

  &.active
    position: relative

    &:after
      display: block
      content: ''
      position absolute
      bottom: 0
      right: 0
      left: 0
      height: 3px
      background: rgba(white, .3)

.siteName
  padding: $edgePadding
  padding-left: 0
  composes: navItem
  font-weight: 400
  font-size: 22px
  margin: 0
  display: block

  &:hover
    background: none

.social
  margin-right: -7px
  display: flex
  align-items: center

.socialItem
  font-size: 20px
  padding: 0 7px
  opacity: .7
  transition: all 150ms ease-in-out
  color: white !important

  &:hover
    opacity: 1

  @media screen and (max-width: 680px)
    display: none

.shortName
  display: inline

  @media screen and (min-width: 680px)
    display: none

.longName
  display: none

  @media screen and (min-width: 680px)
    display: inline

// account switcher stuff
.accountSwitcher
  display: flex
  align-items: center
  cursor: pointer
  padding: 7px 10px
  transition: all 150ms ease-in-out
  position: relative

  &:hover
    background: $activeBg

.displayName
  font-size: .85em

.platform
  font-size: .7em

.switchButton
  background: none
  border: none
  color: rgba(white, .8)
  padding-left: 10px

.accountsDropdown
  position: absolute
  top: 100%
  right: 0
  background: #13161B

.dropdownAccount
  cursor: pointer
  padding: 7px 10px
  transition: all 150ms ease-in-out

  &:hover
    background: $activeBg
