$baseColour = rgba(11, 13, 16, 1.0)
$bgColour = lighten($baseColour, 4%)
$filterColour = lighten($baseColour, 10%)
$activeBg = rgba(white, .07)
$padding = 15px
$height = 52px

.root
  height: $height

.fixed
  z-index: 3
  background: $bgColour
  line-height: 1
  margin-bottom: $padding
  display: flex
  align-items: center
  padding: 0 $padding
  position: fixed
  top: 0
  left: 0
  right: 0
  box-shadow: 0 0 20px -5px rgba(black, 0.75)

.siteName
  font-size: 22px
  display: flex
  align-items: center

.logo
  width: 22px
  height: auto
  margin-right: 12px

.links
  margin-left: $padding
  height: $height
  overflow: hidden
  display: flex
  flex-wrap: wrap

.spacer
  flex: 1

.link
.dummyLink
  display: inline-block
  padding: 18px 10px

.dummyLink
  padding-left: 0
  padding-right: 0

.link
  color: inherit
  text-decoration: none
  white-space: nowrap
  transition: 150ms ease-in-out background

  &:hover
    background: $activeBg

  &.active
    position: relative

    &:after
      display: block
      content: ''
      position absolute
      bottom: 0
      right: 0
      left: 0
      height: 3px
      background: rgba(white, .2)


.etc
  margin: 0 -8px
  display: flex
  align-items: center

.headerLoginCta
  margin-left: 16px
  padding: 10px 32px;

.socialLink
  display: inline-block
  margin: 0 8px
  opacity: .7
  transition: all 150ms ease-in-out
  color: white !important
  font-size: 22px

  &:hover
    opacity: 1

.isOverflowing
  .socialLink
    display: none

.toggleSidebar
  background: none
  margin-right: 5px
  margin-left: -10px
  padding: 10px
  border: none
  appearance: none
  color: white
  font-size: 20px
  cursor: pointer

.sidebar
  position: fixed
  z-index: 1000
  top: 0
  bottom: 0
  width: 100%
  max-width: 300px
  background: $bgColour
  box-shadow: 0 0 20px -5px rgba(black, 0.75)
  transition: 350ms transform ease-in-out
  left: 0

  transform: translateX(-100%) // offscreen

  &:before
    pointer-events: none
    content: ''
    position: absolute
    z-index: -1
    top: 0
    bottom: 0
    background: rgba(#090B0E, 0)
    width: 1000%
    left: 100%
    transition: 350ms background ease-in-out

  .sidebarActive &
    transform: translateX(0) // onscreen
    pointer-events: initial

    &:before
      background: rgba(#090B0E, .7)

  .siteName
    margin-bottom: 15px

  .toggleSidebar
    margin: -12px 0 0 0

  .dummyLink
    display: none

  .socialLink
    display: inline-block !important

  .sidebarLoginCta
    margin: 12px auto 8px;
    display: block;

  .link
    display: block !important // override media query
    width: 100%
    padding: 10px
    padding-left: 15px
    margin-left: -5px
    line-height: 1

    &.active:after
      right: initial
      height: initial
      top: 0
      width: 3px

.sidebarInner
  height: 100%
  overflow: scroll
  padding: 9px $padding

.hr
  height: 1px
  width: 100%
  background: rgba(white, .2)
  margin: 10px 0

.sidebarTop
  display: flex
  justify-content: space-between
  align-items: center

.sidebarExtra
  text-align: center


.link
.dummyLink
  @media screen and (max-width: 500px)
    display: none
