//
// Objectives
//
.objective
  margin-top: 10px
  margin-bottom: 10px
  height: 20px
  position: relative
  background: #13161B

  .bigger &
    height: 27px

.objectiveTrack
  position: relative
  height: 100%
  width: 0
  z-index: 1
  background: rgb(80, 82, 93)

.objectiveText
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 5px
  font-size: 14px
  line-height: 1
  z-index: 2

  .bigger &
    font-size: 16px
    padding: 0 7px
