$baseColour = rgba(11, 13, 16, 1.0)
$bgColour = lighten($baseColour, 4%)
$filterColour = lighten($baseColour, 10%)
$activeBg = rgba(white, .07)
$padding = 15px

.root
  background: $bgColour
  margin: -15px -15px 0 -15px
  line-height: 1
  margin-bottom: $padding
  display: flex
  align-items: center
  padding: 0 $padding

.siteName
  font-size: 22px
  display: flex
  align-items: center

.logo
  width: 22px
  height: auto
  margin-right: 12px

.links
  flex: 1
  margin-left: $padding

.link
  display: inline-block
  padding: 18px 10px
  color: inherit
  text-decoration: none

  &:hover
    background: $activeBg

  &.active
    position: relative

    &:after
      display: block
      content: ''
      position absolute
      bottom: 0
      right: 0
      left: 0
      height: 3px
      background: rgba(white, .2)

.etc
  margin: 0 -8px
  display: flex
  align-items: center

.socialLink
  display: inline-block
  margin: 0 8px
  opacity: .7
  transition: all 150ms ease-in-out
  color: white !important
  font-size: 22px

  &:hover
    opacity: 1


.googleDriveWrapper
  position: relative

_googleBlue = #5689E6
.googleDrive
  margin-right: 50px
  font-size: .9em
  background: _googleBlue
  padding: 12px 12px
  border-radius: 3px
  transition: background 150ms ease-in-out
  cursor: pointer
  border: none
  appearance: none
  color: inherit
  line-height: 1
  outline: none !important

  &:hover
    background: darken(_googleBlue, 10%)

  &:active
    background: darken(_googleBlue, 15%)

.googleDriveExplain
  position: absolute
  top: calc(100% + 10px)
  left: 0
  background: _googleBlue
  padding: 10px
  line-height: 1.3
  width: 300px

  &:after
    position: absolute
    bottom:100%
    left: 10px
    content: ''
    border: 5px solid transparent
    border-bottom-color: _googleBlue
