// These two must be 119:24 for optimal emblem background
$width = 450px
$headerHeight = $width * (24/119)

.root
  background: #20262d
  box-shadow: 0 2px 10px 0 rgba(black, 1)
  width: $width
  max-width: 100%
  padding: 0 15px
  overflow: auto
  border-radius: 4px
  position: relative

.screenshot
  display: block
  width: calc(100% + 30px)
  object-fit: cover
  object-position: center
  margin: 0 -15px
  margin-bottom: 0
  transition: 200ms ease-in-out all

.itemTop
  margin: 0 -15px 15px -15px
  padding: 10px 15px
  height: $headerHeight
  font-size: 20px

.objectiveTitle
  font-size: 1.1em
  margin-bottom: 5px

.objectives
  font-size: 14px

.close
  background: none
  padding: 15px
  outline: none !important
  cursor: pointer
  appearance: none
  border: none
  position: absolute
  top: 0
  right: 0
  font-size: 1em
  color: white
  line-height: 1

.extraInfo
  opacity: .8
  font-size: .9em
  font-style: italic
  margin-bottom: 15px

.viewItemLinks
  margin: 0 -8px 15px -8px
  padding: 0
  font-size: .9em

.viewItemLinks li
  display: inline-block
  margin: 0 8px
  padding: 0
  list-style: none

.root p a,
.viewItemLinks a
  color: white !important

.button
  background: lighten(#21262D, 10%)
  border: 1px solid @background
  color: #D4D6D7
  border-radius: 3px
  appearance: none
  font-size: 16px
  margin-top: 5px
  margin-bottom: 15px
  padding: 2px 10px
  outline: none !important
  transition: 150ms ease-in-out all
  cursor: pointer

  &:hover
    background: lighten(#21262D, 15%)
    border-color: @background

  &:active
    background: lighten(#21262D, 5%)
    border-color: @background

  & + &
    margin-left: 1em

.mainButton
  composes: button
  border-color: #5d6573

  &:hover
    border-color: lighten(#5d6573, 15%)

  &:active
    border-color: lighten(#5d6573, 5%)

.exotic
  background: #ceae33

.legendary
  background: #522f65

.rare
  background: #5076a3

.common
  background: #366f3c

.basic
  background: #c3bcb4
  color: #1e242b

.ishtarLogo
  display: inline-block
  height: 1.2em
  margin-right: .25em
  vertical-align: middle

  & + a
    vertical-align: middle
