.page
  margin:0 50px

.set
  border-left: 5px solid transparent
  padding: 0 15px

  &:nth-of-type(1)
    border-left-color: #376f42

  &:nth-of-type(2)
    border-left-color: #4f76a4

  &:nth-of-type(2)
    border-left-color: #522f65


.setsList
  display: flex
  flex-direction: row

.setForClass
  flex: 1 1 auto

.gear
  display: flex
  margin-bottom: 20px
  line-height: 1

.iconWell
  flex: 0
  margin-right: 10px

.gearIcon
  width: 45px
  height: 45px


.gearDescription
  font-size: .9em
  opacity: .8em
  margin: 5px 0
  line-height: 1.3
