.page
  margin:0 15px

.set
  border-left: 5px solid transparent
  padding: 0 15px

  &:nth-of-type(1)
    border-left-color: #376f42

  &:nth-of-type(2)
    border-left-color: #4f76a4

  &:nth-of-type(3)
    border-left-color: #522f65

.heading
  font-family: 'nhg text'
  letter-spacing: 1px

  h1&
    font-size: 50px

  h2&
    font-size: 35px

  h3&
    font-size: 14px
    text-transform: uppercase
    border-bottom: 1px solid #64686b
    padding-bottom: 5px

.setsList
  display: flex
  flex-direction: row
  margin: 0 -20px

.setForClass
  flex: 1 1 auto
  margin: 0 20px

.gear
  display: flex
  margin-bottom: 20px
  line-height: 1

.iconWell
  flex: 0
  margin-right: 10px

.gearIcon
  width: 45px
  height: 45px


.gearDescription
  font-size: .9em
  opacity: .75
  margin: 5px 0
  line-height: 1.3
