$duration = 500ms
$durationDelay = $duration / 10


.beta
  text-align: center
  max-width: 500px
  opacity: .8
  margin: 20px auto 15px auto

.subnav
  margin: 15px 15px
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap

.navsections
  margin: 0 -15px

.toggleFilters
  color: rgba(white, .9)
  cursor: pointer
  padding: 5px 10px
  transition: all 150ms ease-in-out

  &:hover
    background: rgba(white, .07)

.filtersActive
  background: rgba(white, .07)

.filters
  flex: 1 0 100%
  display: flex
  flex-direction: row-reverse

.filterInner
  background: rgba(white, .07)
  padding: 10px 15px

.neg
  margin: 0 -10px

.filterOpt
  margin: 0 10px

.subnavItem
  display: inline-block
  font-size: 20px
  font-weight: bold
  margin: 0 15px
  color: darken(#FFFFFF, 50%)
  // animation: appear $duration
  animation-fill-mode: both
  text-decoration: none
  transition: 150ms ease-in-out

  for i in 0..10
    &:nth-child({i})
      animation-delay: $durationDelay * (i + 5)

  &:hover
    color: darken(#FFFFFF, 10%)

  &.active
    color: #FFFFFF



@keyframes appear
  from
    opacity: 0
    transform: translate3d(0, -100%, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


.debug
  text-align: center
  margin-bottom:15px

  button
    background: #13161B
    cursor: pointer
    border: none
    color: rgba(white, .8)
    font-size: 14px
    padding: 5px 10px
    border-radius: 2px
    transition: all 150ms ease-in-out

    &:hover
      background: lighten(#13161B, 20%)

