.close
  background: none
  padding: 2px
  outline: none !important
  cursor: pointer
  appearance: none
  border: none
  font-size: 1em
  color: white
  line-height: 1
  position: absolute
  top: 0
  right: 0
  padding: 15px
  transition: 150ms ease-in-out background

  &:hover
    background: rgba(white, .25)
