.root
  display: flex

.accessory
  flex: 0

.main
  flex: 1
  padding-left: 5px
  margin-top: 2px

.description
  font-size: .9em
  opacity: .9

.energyType
  height: 1em
  vertical-align: middle

.arc
  color: #79BBE8

.solar
  color: #FA6400

.void
  color: #B185DF