$green = #44bd32;

.splitHeading
  display: flex
  justify-content: space-between

.gearCount
  opacity: .8

.explainer
  font-size: 16px;
  font-family: 'nhg text'
  letter-spacing: .25px
  margin-bottom: 30px

.page
  margin: 0 15px

.set
  border-left: 3px solid #64686b
  padding: 0 15px
  margin-bottom: 50px

.gearMain
  flex: 1

.heading
  &, *
    font-family: 'nhg text'

  letter-spacing: 1px

  h1&
    font-size: 40px

  h2&
    font-size: 25px
    margin: 0 0 10px 0

  h3&
    font-size: 16px
    text-transform: uppercase
    border-bottom: 2px solid #64686b
    padding-bottom: 5px
    margin: 0 0 14px 0

  h4&
    font-size: 14px
    font-weight: normal
    margin: 0 0 8px 0
    color: #d8d9da

.Arc
  border-bottom-color: #79BBE8 !important

.Solar
  border-bottom-color: #FA6400 !important

.Void
  border-bottom-color: #B185DF !important

.itemAny
  img
    background: black !important

.itemArc
  img
    background: darken(#79BBE8, 20%) !important

.itemSolar
  img
    background: darken(#FA6400, 20%) !important

.itemVoid
  img
    background: darken(#B185DF, 20%) !important

.energyIcon
  height: 1em
  margin-right: 2px

.group
  & + &
    margin-top: 22px

.setsList
  display: flex
  flex-direction: row
  margin: 0 -20px
  flex-wrap: wrap

.setForElement
  flex: 1
  margin: 0 20px 0 20px
  min-width: 300px

  @media screen and (max-width: 1415px)
    margin-bottom: 40px

.itemGroup
  margin: -5px
  font-size: 0

.item
  display: inline-block


.searchResultsList
  display: grid
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  margin-bottom: 30px
