.root
  content: 'root'
  background: #212121
  padding: 15px


  code
    padding: 2px 5px
    background: #171717
    border: 1px solid lighten(#171717, 10%)
    font-family: monospace
    font-size: 1.15em
