.root
  content: 'root'
  background: #212121
  padding: 15px


  code
    padding: 2px 5px
    background: #171717
    border: 1px solid lighten(#171717, 10%)
    font-family: monospace
    font-size: 1em
    display: inline-block

  code + code
    margin-left: 1ch

.itemImage
  width: 30px
  height: 30px
  display: inline-block
  margin-right: .5ch
  vertical-align: middle

.inventoryList
  display: flex
  flex-wrap: wrap
  margin: 0 -5px

.item
  padding: 5px
  flex: 1 0 13%
  min-width: 180px
  font-size: 14px

.itemInner
  display: flex
  line-height: 1

.small
  font-size: .8em
  color: #9AAFBB
  padding-top: 2px

.cursorPointer
  cursor: pointer
