.root
  padding: 10px

.pageTitle
  margin-top: 0

.set,
.group
  margin-bottom: 20px

.groups
  flex-wrap: wrap
  display: flex

.group
  flex-basis: 33.333%
  padding-right: 10px

.group:last-of-type
  padding-right: 0

.sectionTitle,
.groupTitle
  margin: 0 0 .7em 0
  // border-bottom: .15em solid currentcolor

.itemTitle
  font-weight: normal
  line-height: 1
  margin: 0 0 5px 0

.itemImage
  width: 40px
  height: 40px
  margin-right: 5px
  vertical-align: top

.item
  opacity: .2
  display: flex
  margin-bottom: 15px

.media
  width: 40px
  margin-right: 5px

.content
  flex: 1 0 auto

.owned
  opacity: 1

.itemSubtitle
  font-size: .9em

.targetfilterclass0 { display: none }
.targetfilterclass1 { display: none }
.targetfilterclass2 { display: none }

.filterclass0
  .targetfilterclass0 { display: flex }

.filterclass1
  .targetfilterclass1 { display: flex }

.filterclass2
  .targetfilterclass2 { display: flex }

