.root
  padding: 15px

.debug
  font-family: monospace
  font-size: 20px
  display: flex

.debug > *
  margin-right: 50px

.green
  color: #27ae60

.red
  color: #c0392b

.item
  display: inline-block

.complete
  color: green

.item
  display: inline-flex
  align-items: center
  margin-right: 1em
  margin-bottom: .5em

.itemImage
  height: 1.5em
  width: 1.5em
  display: block
  margin-right: .5em


.itemList
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.tooltip
  background: white
  color: black
  padding: 10px
  width: 200px
