.root
  padding: 15px


mobile()
  @media screen and (max-width: 679px)
    {block}

.promo
  margin: auto
  font-size: 17px
  text-align: center
  max-width: 775px
  background: #15191E
  padding: 10px
  margin-bottom: 60px

  a
    color: white

.button
  color: black !important
  background: rgba(208, 170, 11, 1.0)
  padding: 10px 20px
  text-decoration: none
  transition: 150ms ease-in-out
  display: inline-block

  &:hover
    background: #ffce1f


.trackedItems
  position: fixed
  right: 0
  bottom: 0
  padding-right: 16px
  padding-left: 16px
  max-height: calc(100vh - 52px)
  overflow: auto
  color: white
  z-index: 999

  +mobile()
    left: 0
    display: flex
    flex-direction: column
    align-items: center

.trackedItem
  padding-bottom: 10px

.info
  background: #B8B9BA
  padding: 8px 15px
  border-radius: 2px
  color: #090B0F
  margin-bottom: 50px

.errorInfo
  composes: info
  background: #e74c3c
  color: white

  a
    color: white !important

.hiddenSets
  text-align: center

.unhideSetsButton
  background: none
  border: none
  text-decoration: underline
  color: inherit
  padding: 0
  font-size: inherit
  cursor: pointer
  outline: none !important
  transition: opacity 150ms ease-in-out

  &:active
    opacity: .6
