.drops
  padding: 15px
  font-size: 0

.section
  padding: 20px 25px 0 25px

  &:last-of-type
    padding-bottom: 20px

.inline
  display: inline-block

.sectionName
  font-size: 18px
  margin-bottom: 5px
