.drops
  padding: 15px
  font-size: 0

.drops
  display: flex
  flex-flow: row wrap

.sectionItems
  margin: -5px
  font-size: 0

.item
  flex: 1 0 50%

.section
  // padding: 15px 15px 0 15px
  padding: 0
  margin-bottom: 25px

  // &:last-of-type
  //   padding-bottom: 15px

.inline
  display: inline-block

.sectionName
  font-size: 18px
  margin-bottom: 5px
