.drops
  padding: 15px
  font-size: 0

.drops
  display: flex
  flex-flow: row wrap

.sectionItems
  margin: -5px
  font-size: 0

.item
  flex: 1 0 50%

.section
  padding: 0
  margin-bottom: 25px

.inline
  display: inline-block

.sectionName
  font-size: 18px
  margin-bottom: 5px

.sectionName .name
  margin-right: .5em

.intrinsic
  display: inline-block
  font-size: .8em
  color: #A1A3A5
