.root
  display: flex
  min-height: 100vh
  justify-content: center
  align-items: center
  margin: 0
  flex-direction: column

.content
  font-size: 20px
  display: flex
  justify-content: center
  align-items: center
  margin: 0
  flex: 1 1 auto
  width: 100%

.topPart
  width: 100%
