$grid-padding = 15px

.root
  padding: 0 $grid-padding

.list
  display: flex
  flex-wrap: wrap
  margin: 0 (-($grid-padding))

  // clearfix
  &:after
  &:before
      content: " "
      display: table

  &:after
    clear: both

.activityWrapper
  width: 100%
  float: left
  padding: 0 $grid-padding
  padding-bottom: ($grid-padding * 2)

  > *
    height: 100%

  @media screen and (min-width: 680px)
    width: 50%

.heading
  font-weight: 400
  font-size: 22px
  margin-bottom: .1em

.spacer
  width: 600px
  margin: 0 25px

.spacerForLargeScreens
  composes: spacer
  display: none

  @media screen and (min-width: 1950px)
    display: block

.spacerForSuperLargeScreens
  composes: spacer
  display: none

  @media screen and (min-width: 2600px)
    display: block

.activity
  @media screen and (max-width: 500px)
    width: auto
    margin-left: 10px
    margin-right: 10px
