$grid-padding = 15px

.root
  padding: 0 $grid-padding

.list
  display: flex
  flex-wrap: wrap
  margin: 0 (-($grid-padding))

  // clearfix
  &:after
  &:before
      content: " "
      display: table

  &:after
    clear: both

.activityWrapper
  width: 100%
  float: left
  padding: 0 $grid-padding
  padding-bottom: ($grid-padding * 2)

  > *
    height: 100%

  @media screen and (min-width: 680px)
    width: 50%

  @media screen and (min-width: 1160px)
    &.narrow
      width: 33.333%

  @media screen and (min-width: 1560px)
    width: 33.333%

    &.narrow
      width: 33.333%

  @media screen and (min-width: 1900px)
    &.narrow
      width: 25%

.heading
  font-weight: 400
  font-size: 22px
  margin-bottom: .1em


// @media screen and (min-width: 1950px)
  // display: block
