.allActivites
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.heading
  font-weight: 400
  font-size: 22px
  margin-bottom: .1em

.spacer
  width: 600px
  margin: 0 25px

.spacerForLargeScreens
  composes: spacer
  display: none

  @media screen and (min-width: 1950px)
    display: block

.spacerForSuperLargeScreens
  composes: spacer
  display: none

  @media screen and (min-width: 2600px)
    display: block

.activity
  @media screen and (max-width: 500px)
    width: auto
    margin-left: 10px
    margin-right: 10px
